<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Bookmark List</title>

    <style type="text/css">
        h4 {color: #15191B;}
        .first {background-color: #ACE0F5}
        #tb th {background-color: #ECCEF5;}
		#tb {padding-top: 10px;}
		#tb td {border: 0.1px solid #D8D8D8;}
		#tb th {border: 0.1px solid #D8D8D8;}

    </style>

</head>

<body>

<div>
    <h1>Bookmark List</h1>
    <h4><span class="first">&nbsp;&nbsp;216230124 이승연&nbsp;&nbsp;</span></h4>
</div>

<div id="content">

	<table id="tb">
	<tr>
		<th>&nbsp;&nbsp;번호&nbsp;&nbsp;</th>
		<th>&nbsp;&nbsp;사이트 명&nbsp;&nbsp;</th>
		<th>&nbsp;&nbsp;주소&nbsp;&nbsp;</th>
	</tr>

	{% for bookmark in object_list %}
	<tr>
		<td>{{ bookmark.id }}</td>
		<td>
			<a href="{% url 'detail' bookmark.id %}">{{bookmark}}</a>
        </td>

		<td>
			<a href="{{ bookmark.url }}">{{ bookmark.url }}</a>
        </td>
	</tr>
	{% endfor %}


	</table>
</div>

</body>
</html>